# Unless you have specific requirements, leave GLOBAL_PUID and GLOBAL_PGID set to 1000.
GLOBAL_PUID=1000
GLOBAL_PGID=1000

# Find your timezone here - https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
GLOBAL_TIMEZONE=America/Toronto

# Leave blank if you don't want notifications. For Discord, create a webhook and use "discord://token@channel"
WATCHTOWER_NOTIFICATION_URL=

# Watchtower will update containers daily at 4am by default.
# Watchtower uses cron schedules, but adds an extra digit at the begining. See https://crontab.guru/
WATCHTOWER_SCHEDULE=0 0 4 * * *

VPN_USER=NordVPN_UserName
VPN_PASSWORD=NordVPN_Password

GLOBAL_DOCKERROOTPATH=/path/to/your/containers
GLOBAL_MEDIAROOTPATH=/path/to/your/media

# If your media is stored on different drives or doesn't share the same parent directory, comment out the GLOBAL_MEDIAROOTPATH variable and uncomment the individual path variables instead.
# Don't forget to make the same changes in the simplarr-stack.yml file.
#GLOBAL_MEDIA_SHOWS=/path/to/your/shows
#GLOBAL_MEDIA_MOVIES=/path/to/your/movies
#GLOBAL_MEDIA_ANIME=/path/to/your/anime
#GLOBAL_MEDIA_DOWNLOADS=/path/to/your/downloads