# Unless you have specific requirements, leave GLOBAL_PUID and GLOBAL_PGID set to 1000
GLOBAL_PUID=1000
GLOBAL_PGID=1000

# Network for all containers in Simplarr-Stack to comunicate
SIMPLARR_NETWORK=simplarr-stack_network

# Find your timezone here - https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
GLOBAL_TIMEZONE=America/Toronto

# Refer to Gluetun's Documation for the following - https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers
VPN_SERVICE_PROVIDER=nordvpn
VPN_USER=Open_VPN_UserName
VPN_PASSWORD=Open_VPN_Password
VPN_COUNTRY=Canada
VPN_REGIONS=The Americas

# Default password for Gotify
GOTIFY_DEFAULTUSER_PASS=ChangeMe

# Specifies the folder where your container's data will be saved
GLOBAL_DOCKERROOTPATH=/path/to/your/containers

# Specify the paths to your media on your host
GLOBAL_MEDIA_SHOWS=/path/to/your/Shows
GLOBAL_MEDIA_MOVIES=/path/to/your/Movies
GLOBAL_MEDIA_ANIME=/path/to/your/Anime
GLOBAL_MEDIA_DOWNLOADS=/path/to/your/Downloads

# These tags detirmine which images are used by your containers when Watchtower runs or you redeploy them
# Leaving all tags set to "latest" will ensure you always have the latest updates, however, not all containers support this tag or reccomend it for stability.
VERSIONTAG_DEUNHEALTH=latest
VERSIONTAG_GLUETUN=latest
VERSIONTAG_FLARESOLVERR=latest
VERSIONTAG_GOTIFY=latest
VERSIONTAG_PROWLARR=latest
VERSIONTAG_QBITTORRENT=latest
VERSIONTAG_SONARR=latest
VERSIONTAG_RADARR=latest
VERSIONTAG_SEERR=latest
VERSIONTAG_CLEANUPARR=latest
VERSIONTAG_MAINTAINERR=latest

# Variables used for container healthchecks
HEALTHCHECK_INTERVAL=300s
HEALTHCHECK_RETRIES=3
HEALTHCHECK_STARTPERIOD=20s
HEALTHCHECK_TIMEOUT=10s
DEUNHEALTH_RESTART=true