# Unless you have specific requirements, leave GLOBAL_PUID and GLOBAL_PGID set to 1000.
GLOBAL_PUID=1000
GLOBAL_PGID=1000

# Find your timezone here - https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
GLOBAL_TIMEZONE=America/Toronto

# Leave blank if you don't want notifications. For Discord, create a webhook and use "discord://token@id"
WATCHTOWER_NOTIFICATION_URL=

# Watchtower will update containers daily at 4am by default.
# Watchtower uses cron schedules, but adds an extra digit at the begining. See https://crontab.guru/
WATCHTOWER_SCHEDULE=0 0 4 * * *

# Note that this is not the username/password for your NordVPN account. You will need to find the credentials for an OpenVPN connection in your account settings.
VPN_USER=NordVPN_UserName
VPN_PASSWORD=NordVPN_Password
VPN_COUNTRY=Canada

GLOBAL_DOCKERROOTPATH=/path/to/your/containers

# Specify the paths to your media on your host.
GLOBAL_MEDIA_SHOWS=/path/to/your/shows
GLOBAL_MEDIA_MOVIES=/path/to/your/movies
GLOBAL_MEDIA_ANIME=/path/to/your/anime
GLOBAL_MEDIA_DOWNLOADS=/path/to/your/downloads

# These tags detirmine which images are used by your containers when Watchtower runs or you redeploy them.
# Leaving all tags set to "latest" will ensure you always have the latest updates, however, not all containers support this tag or reccomend it for stability.
VERSIONTAG_WATCHTOWER=latest
VERSIONTAG_DEUNHEALTH=latest
VERSIONTAG_GLUETUN=v3
VERSIONTAG_QBITTORRENT=latest
VERSIONTAG_FLARESOLVERR=latest
VERSIONTAG_PROWLARR=latest
VERSIONTAG_SONARR=latest
VERSIONTAG_RADARR=latest
VERSIONTAG_SEERR=latest
VERSIONTAG_CLEANUPARR=latest
VERSIONTAG_MEDIASERVER=latest

# Specifies which containers will be updated by Watchtower. Add plex or jellyfin if you are running those containers.
WATCHTOWERCONTAINERS=deunhealth,gluetun,jellyfin,seerr,prowlarr,qbittorrent,radarr,sonarr,watchtower,flaresolverr,cleanuparr