# Find your timezone here - https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
GLOBAL_TIMEZONE=America/Toronto

# Leave blank if you don't want notifications. 
# For Discord notifications create a webhook, paste the webhook into your browser and use "discord://token@id" as the notification URL.
WATCHTOWER_NOTIFICATION_URL=

# Watchtower will update containers daily at 4am by default.
# Watchtower uses cron schedules, but adds an extra digit at the begining. See https://crontab.guru/
WATCHTOWER_SCHEDULE=0 0 4 * * *

VERSIONTAG_WATCHTOWER=latest