# Unless you have specific requirements, leave GLOBAL_PUID and GLOBAL_PGID set to 1000
GLOBAL_PUID=1000
GLOBAL_PGID=1000

# Find your timezone here - https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
GLOBAL_TIMEZONE=America/Toronto

# Specifies the folder where your container's data will be saved
GLOBAL_DOCKERROOTPATH=/path/to/your/containers

# Specify the paths to your media on your host
GLOBAL_MEDIA_SHOWS=/path/to/your/Shows
GLOBAL_MEDIA_MOVIES=/path/to/your/Movies
GLOBAL_MEDIA_ANIME=/path/to/your/Anime
GLOBAL_MEDIA_DOWNLOADS=/path/to/your/Downloads

# Specifies your Jellyfin version
VERSIONTAG_JELLYFIN=latest