# Network for all containers in Simplarr-Stack to comunicate
SIMPLARR_NETWORK=simplarr-stack_network

# Find your timezone here - https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
GLOBAL_TIMEZONE=America/Toronto

# Specifies the folder where your container's data will be saved
GLOBAL_DOCKERROOTPATH=/path/to/your/containers

# Specifies your Maintainerr Version
VERSIONTAG_MAINTAINERR=latest